<p>まず、下のリンクからパスワードを設定してください。</p>
<p>パスワード設定リンクの有効期限は1時間です。また、パスワード設定は一度だけです。</p>
<p><a href="<%= @create_url %>"><%= @create_url %></a></p>

<hr>

<p>PDFアップロード：</p>
<p><a href="<%= @upload_url %>"><%= @upload_url %></a></p>

<p>PDF閲覧・同期：</p>
<p><a href="<%= @viewer_url %>"><%= @viewer_url %></a></p>