<p>まず、以下のリンクからパスワードを設定してください（有効期限1時間）</p>
<p><%= link_to "パスワード設定ページへ", @new_url %></p>

<hr>

<p>PDFアップロード・同期リンクの有効期限：<%= @document_group.upload_token_expires_at.strftime("%Y-%m-%d %H:%M") %></p>
<p>PDFアップロード：</p>
<p><%= link_to @upload_url, @upload_url %></p>

<p>PDF同期：</p>
<p><%= link_to @viewer_url, @viewer_url %></p>

<hr>

<p>パスワード再設定はこちら（グループコードが必要です）：</p>
<p><%= link_to "パスワード再設定ページへ", new_document_group_password_reset_url %></p>
<p>グループコード: <%= @group_code %></p>

<hr>

<p><%= link_to "トップページへ", root_url %></p>
