<p>まず、以下のリンクから、PDFアップ・同期ページに入るためのパスワードを設定してください。</p>
<p>パスワード設定ページの有効期限は1時間です。また、PDFアップと同期ページのパスワードは同じです。</p>
<p><%= link_to "パスワード設定ページへ", @new_url %></p>

<hr>

<p>PDFアップロード・同期リンクの有効期限：<%= @document_group.upload_token_expires_at.strftime("%Y-%m-%d %H:%M") %></p>
<p>PDFアップロード：</p>
<p><%= link_to @upload_url, @upload_url %></p>

<p>PDF同期：</p>
<p><%= link_to @viewer_url, @viewer_url %></p>

<p>PDF同期ページのQRコード：</p>
<%= image_tag "data:image/svg+xml;base64,#{@viewer_qr_base64}", alt: "PDF閲覧用QRコード" %>

<hr>

<p>パスワード再設定（グループコードが必要です）：</p>
<p><%= link_to "パスワード再設定ページへ", new_document_group_password_reset_url %></p>
<p>グループコード: <%= @group_code %></p>

<hr>

<p><%= link_to "トップページへ", root_url %></p>

<p>このメールは、あなたがPDFページ同期サービスでリクエストしたため送信されています。</p>
<p>もし心当たりがない場合は、このメールを無視してください。</p>

<p>このメールは送信専用のメールアドレスから送信されています。</p>
<p>返信はできませんのでご了承ください。</p>
