<h2>PDFアップロードのパスワードを入力してください</h2>

<% if @error %>
  <p class="text-red-600"><%= @error %></p>
<% end %>

<%= form_with url: document_group_documents_path(@document_group), data: { turbo: false }, method: :post, class: "max-w-sm mx-auto bg-white p-6 rounded-lg shadow-md" do |f| %>
  <div class="mb-4">
    <%= f.label :password, "パスワード", class: "block text-gray-700 font-semibold mb-2" %>
    <%= f.password_field :password, class: "w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div>
    <%= f.submit "送信", class: "w-full bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-200" %>
  </div>
<% end %>

